


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* Header Menu area */
.header_area {
    background-color: #212331;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
}

.header_logo img {
width: 100%;
}
.header_menu ul {
display: flex;
}
.header_menu ul li {
list-style: none;
}
.header_menu ul li a {
text-decoration: none;
font-size: 16px;
margin-right: 36px;
color: #fff;
text-transform: capitalize;
font-weight: 400;
}
.header_menu ul li a:hover {
color: #FC6E51;
transition: .3s;
}

/* Banner area start */

.banner_area {
    height: 70vh;
  }
.banner {
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_content h2 {
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  justify-content: ;
  text-align: center;
  margin-bottom: 30px;
}
.banner_content p {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
}

.banner_btn {
  text-align: center;
  margin-top: 30px;
}
.banner_btn .service_btn {
  background-color: #fb5735;
  padding: 8px 20px;
  text-decoration: navajowhite;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  /*! border: 1px solid tomato; */
  font-weight: 500;
}

.banner_btn .service_btn:hover {
  background-color: #FB441F;
}
.banner_btn .contact_btn {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border: 1px solid #fff;
  margin-left: 13px;
}
.banner_btn .contact_btn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

















































